<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Connexion</h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-label">User Name</label>
        <input type="username" class="form-input" formControlName="username" placeholder="username">
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-message">
          Veuillez entrer un username valide.
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Mot de passe</label>
        <input type="password" class="form-input" formControlName="password" placeholder="••••••••">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          Le mot de passe doit contenir au moins 8 caractères.
        </div>
      </div>
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">Se Connecter</button>
      <p class="login-link">Pas de compte ? <a routerLink="register">S'inscrire</a></p>
    </form>
  </div>
</div>
