<header class="bg-white py-4 px-6 flex justify-between items-center">
  <div class="flex items-center">
    <div class="bg-blue-500 rounded-full p-2 mr-2">
      Got
    </div>
    <span class="font-semibold text-gray-800">You</span>
  </div>

  <nav class="hidden md:block">
    <ul class="flex space-x-8">

      <li><a href="#" class="text-gray-800 hover:text-blue-500">Home</a></li>
      <ng-container *ngIf="!isAuthenticated()">
      <a routerLink="login" class="text-gray-800 hover:text-blue-500">Connexion</a>
      <a routerLink="register" class="text-gray-800 hover:text-blue-500">Inscription</a>
      </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <div *ngIf="user.role == 'STUDENT'; else Donordash">
        <li><a routerLink="dashboard" class="text-gray-800 hover:text-blue-500">Dashboard</a></li>
      </div>
      <ng-template #Donordash>
        <li><a routerLink="explore" class="text-gray-800 hover:text-blue-500">Explore</a></li>

        <li><a routerLink="donor-dashboard" class="text-gray-800 hover:text-blue-500">Dashboard</a></li>
      </ng-template>
    <a routerLink="logout" class="text-gray-800 hover:text-blue-500">Logout</a>
    </ng-container>

    </ul>
  </nav>
  <ng-container *ngIf="isAuthenticated()">
    <a routerLink="profile">
  <div class="flex items-center space-x-4">
<!--    <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">Join</button>-->
<!--    <button class="border border-blue-500 text-blue-500 px-4 py-2 rounded-full hover:bg-blue-50 transition">{{userName}}</button>-->
    <div class="w-10 h-10 bg-gray-200 rounded-full flex items-center justify-center overflow-hidden">
      <img [src]="'http://localhost:8080/gotYou' + user.profileImage || 'imgs/default-profile.png'" alt="Profile Image" class="w-full h-full object-cover">
    </div>
    <div>
      <p class="text-sm font-medium text-gray-800">{{userName}}</p>
    </div>
  </div>
    </a>
    </ng-container>
</header>
