<div class="max-w-4xl mx-auto py-8 flex flex-col lg:flex-row gap-8">
  <div class="w-full lg:w-2/3">
    <h1 class="text-4xl font-bold text-center mb-8">{{ request.title }}</h1>

    <div class="flex items-center gap-4 text-gray-500 mb-8">
      <div class="flex items-start gap-2">
        <img
          class="w-14 h-14 rounded-full object-cover"
          [src]="'http://localhost:8080/gotYou' + request.student.profileImage || 'imgs/default-profile.png'"
          alt="Photo de profil de {{ request.student.userName }}"
        >
        <div class="flex flex-col">
          <span class="text-sm text-gray-500">{{ request.student.userName }}</span>
          <time class="text-xs text-gray-400">{{ request.requestDate}}</time>
        </div>
      </div>
    </div>

    <div class="prose max-w-none mb-12">
      <p class="mb-4 text-gray-700">
        {{ request.description }}
      </p>
    </div>
  </div>

  <div class="w-full lg:w-1/3 bg-gray-100 p-6 rounded-sm border-l-1 border-l-gray-400">
    <div class="text-center mb-6">
      <div class="text-2xl font-bold text-gray-800">84%</div>
      <div class="text-sm text-gray-600">Objectif atteint</div>
    </div>

    <div class="w-full bg-gray-200 rounded-full h-2 mb-6">
      <div class="bg-gradient-to-r from-blue-500 to-blue-400 h-2 rounded-full" style="width: 84%;"></div>
    </div>

    <div class="text-center mb-6">
      <div class="text-lg font-bold text-gray-800">100 205 €</div>
      <div class="text-sm text-gray-600">récoltés sur {{ request.amount }} DH</div>
    </div>

    <div class="space-y-4 mb-6">
      <button class="w-full py-3 bg-green-600 text-white rounded-lg hover:bg-green-700 transition-colors duration-200">
        Je soutiens
      </button>
    </div>

    <div class="mb-6">
      <h3 class="text-lg font-semibold text-gray-800 mb-4">Derniers donateurs</h3>
      <ul class="space-y-4">
        <li class="flex items-center gap-4">
          <div class="w-10 h-10 bg-gray-200 rounded-full flex items-center justify-center">
            <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-800">Jorddana De Los Santos</p>
            <p class="text-xs text-gray-500">15 € · 10 h</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

