@use '@angular/material' as mat;

@include mat.core();

$my-primary: define-palette(mat.$indigo-palette);
$my-accent: define-palette(mat.$pink-palette);

$my-theme: define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: define-typography-config(),
  density: 0,
));

@include all-component-themes($my-theme);
